body {
    color: rgb(255, 233, 233);
    background: black;
    margin: 0px;
    font-family: "Roboto Flex", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgba(175, 82, 82, 0.74);
    padding-left: 20px;
    padding-top: 20px;
    font-size: 32px;
    color: rgb(175, 82, 82);
    font-family: "Lancelot", serif;
}

.inicio {
    background: rgba(175, 82, 82, 0.171);
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: 20px solid black;
    display: flex;
    justify-content: center;
}

.texto1 {
    margin-right: 25px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.videos {
    display: flex;
    overflow: auto;
    gap: 10px;
}

h2 {
    padding-right: 10px;
}

.outros {
    padding-left: 20px;
    padding-right: 20px;
}

.videos img {
    height: 200px;
    opacity: 0.5;
    border: 1px solid black;
}

.videos img:hover {
    opacity: 1.0;
    border: 1px solid white;
}

.outros h2 {
    font-family: "Lancelot", serif;
    font-size: 30px;
    color: rgb(175, 82, 82);
    border-top: 1px solid rgba(175, 82, 82, 0.74);
}